
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.economy-Y3v {
  box-sizing: border-box;
  padding-top: 2.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-nu2e-rKW {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 3.5rem 3.3rem;
    display: flex;

    .image-1-jPJ {
      height: 10.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.1rem;
      width: 11.1rem;
    }
    .aljazeera-emA {
      margin: 0rem 4.8rem 0.8rem 0rem;
      font-weight: 700;
      color: #efbf14;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 3rem;
      line-height: 1.8725;
      flex-shrink: 0;
    }
    .home-wVN {
      font-size: 2rem;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.1rem 0rem;
      text-align: center;
      line-height: 1.8725;
      color: #150c0c;
      cursor: pointer;
      font-weight: 700;
    }
    .news-dsz {
      text-align: center;
      font-size: 2rem;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      margin: 0rem 0.35rem 1.1rem 0rem;
    }
    .vector-M3J {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.049rem 0.6rem 0rem;
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
    }
    .israel-gaza-war-rkk {
      font-size: 2rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.5rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      line-height: 1.8725;
      color: #150c0c;
    }
    .features-ZQG {
      margin: 0rem 1.45rem 1.1rem 0rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      cursor: pointer;
      font-size: 2rem;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .economy-sQx {
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      margin: 0rem 2.6rem 1.1rem 0rem;
      font-size: 2rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .opinion-BAk {
      text-align: center;
      font-size: 2rem;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.75rem 1.1rem 0rem;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
    }
    .video-HDn {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      margin: 0rem 2.75rem 1.1rem 0rem;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
    }
    .more-Pnc {
      margin: 0rem 0.3rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      white-space: nowrap;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .vector-tzG {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
      object-fit: contain;
    }
    .vector-pN8 {
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
    }
    .live-jzt {
      font-size: 2rem;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.7rem 0.5rem 0rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      color: #000000;
      white-space: nowrap;
    }
    .vector-FyE {
      margin: 0rem 33.8rem 0.4rem 0rem;
      width: 2rem;
      height: 2.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-PZe {
      margin: 0rem 22.7rem 0.6rem 0rem;
      text-align: center;
      font-size: 3rem;
      line-height: 1.8725;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .live-unt {
      white-space: nowrap;
      margin-top: 1.4rem;
      text-align: center;
      font-size: 4rem;
      font-family: Cairo, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      flex-shrink: 0;
    }
  }
  .auto-group-srei-dD6 {
    width: 100%;
    height: 19.5rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-5u1c-NRa {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 31.9642rem;
      width: 144rem;

      .economy-78G {
        line-height: 1.8725;
        color: #000000;
        width: 15.9rem;
        top: 12rem;
        font-weight: 700;
        font-size: 4rem;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
        height: 7.5rem;
        position: absolute;
        left: 61.7rem;
      }
      .rectangle-1-CvQ {
        width: 144rem;
        height: 12.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #e93a3a;
      }
      .breaking-M2c {
        left: 1.8rem;
        top: 2.2rem;
        text-align: center;
        font-size: 3.6rem;
        white-space: nowrap;
        height: 6.8rem;
        position: absolute;
        font-weight: 700;
        line-height: 1.8725;
        color: #f6eeee;
        font-family: Cairo, 'Source Sans Pro';
        width: 16.4rem;
      }
      .line-1-4Bv {
        height: 0.1rem;
        position: absolute;
        left: 20.2rem;
        top: 2.2rem;
        background-color: #faeded;
        width: 0.1rem;
      }
      .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-ndi {
        width: 98.8rem;
        top: 2.7rem;
        color: #f6eeee;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.8725;
        font-family: Cairo, 'Source Sans Pro';
        height: 6rem;
        position: absolute;
        left: 22.55rem;
        text-align: center;
        white-space: nowrap;
      }
      .vector-efv {
        object-fit: contain;
        vertical-align: top;
        width: 2.9rem;
        height: 2.7012rem;
        position: absolute;
        left: 125.3rem;
        top: 4.5rem;
      }
      .vector-Bfr {
        width: 2.4rem;
        height: 2.1947rem;
        position: absolute;
        left: 131rem;
        top: 4.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .iconoir-cancel-XDv {
      height: 2.403rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 3.7485rem;
      width: 2.272rem;
    }
  }
  .auto-group-gaza-rX6 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 4.6rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-bgxe-PG8 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 14.6rem 7.5rem 3.9rem;
      width: calc(100% - 18.5rem);
      height: 73.1rem;

      .auto-group-ygra-6wE {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-35-47N {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 58.3rem;
          height: 37.9rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-tolj-yVE {
          width: 57.4rem;
          height: 33rem;
          position: relative;
          flex-shrink: 0;

          .how-a-childs-death-caused-an-ohio-city-to-turn-on-its-haitian-community-vfN {
            width: 56.8rem;
            height: 13.5rem;
            position: absolute;
            top: 0;
            font-size: 3.6rem;
            font-family: Cairo, 'Source Sans Pro';
            left: 0.6rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
          }
          .a-fatal-school-bus-crash-in-springfield-ohio-has-sparked-a-backlash-to-the-citys-burgeoning-immigrant-population-12-dec-2023-ocg {
            height: 19.9rem;
            position: absolute;
            left: 0;
            font-weight: 700;
            width: 54rem;
            top: 13.1rem;
            font-size: 2.4rem;
            line-height: 1.8739999135;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';

            .a-fatal-school-bus-crash-in-springfield-ohio-has-sparked-a-backlash-to-the-citys-burgeoning-immigrant-population-12-dec-2023-ocg-sub-0 {
              font-size: 2.7rem;
              font-weight: 700;
              line-height: 1.8725;
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
            }
            .a-fatal-school-bus-crash-in-springfield-ohio-has-sparked-a-backlash-to-the-citys-burgeoning-immigrant-population-12-dec-2023-ocg-sub-1 {
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
              font-size: 2.5rem;
              font-weight: 700;
              line-height: 1.8725;
            }
          }
        }
      }
      .auto-group-1p8v-a9a {
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 2.5rem;
        height: 100%;
        display: flex;

        .auto-group-i8na-7fJ {
          margin: 0.4rem 2.4rem 0rem 0rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-31-FWc {
            margin: 0rem 0.1rem 6.6rem 0rem;
            width: 25.9rem;
            height: 16.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-32-Ada {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 8.9rem;
            width: 25.9rem;
            height: 18.3rem;
            object-fit: cover;
          }
          .image-34-tZa {
            width: 25.9rem;
            height: 16.4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-bdae-ENY {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .yemens-houthis-claim-missile-attack-on-norwegian-ship-PFS {
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            max-width: 26.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
          }
          .auto-group-nlue-tT6 {
            margin-bottom: 5.2rem;
            width: 35.6rem;
            height: 36.6rem;
            position: relative;
            flex-shrink: 0;

            .communities-on-us-lng-front-line-ask-biden-to-reject-export-terminal-q7S {
              font-family: Cairo, 'Source Sans Pro';
              position: absolute;
              font-weight: 700;
              color: #000000;
              top: 14rem;
              font-size: 2rem;
              line-height: 1.8725;
              width: 26.5rem;
              height: 11.3rem;
              left: 0;
            }
            .no-callualties-reported-from-strike-on-strinda-tankers-as-it-passed-strought-strategic-bab-al-man-deb-strait-12-dec-2023-Jmi {
              position: absolute;
              left: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.8725;
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
              height: 12rem;
              top: 0;
              width: 35.6rem;
            }
            .lousianas-booming-lng-industryis-wreaking-hav-oc-on-fishing-commounty-local-and-protesting-a-potential-new-terminal-11-dec-2023-Nma {
              font-weight: 700;
              line-height: 1.8725;
              color: #7a7676;
              width: 34.5rem;
              height: 12rem;
              position: absolute;
              left: 0;
              top: 24.6rem;
              font-size: 1.6rem;
              font-family: Cairo, 'Source Sans Pro';
            }
          }
          .argentinas-javier-milei-tells-na-tion-to-brace-for-painful-econom-ic-shock-dSc {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            max-width: 28.4rem;
          }
          .newly-inaugurated-libertarian-president-warns-there-is-no-alternative-to-a-shock-adjustment-11-dec-2023-vRi {
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 36.3rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
          }
        }
      }
    }
    .auto-group-v3vn-1CG {
      margin: 0rem 11.8rem 7.98rem 4.5rem;
      width: calc(100% - 16.3rem);
      height: 32.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-vmrg-KCx {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 12.2rem;
        height: 100%;

        .for-myanmars-generals-energy-crisis-threatens-shaky-grip-on-power-f1v {
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.8rem;
          max-width: 51.1rem;
          font-size: 3.2rem;
        }
        .min-aung-hlaings-administration-is-facing-energy-shortages-as-it-struggles-to-quell-opposition-to-its-rule-11-dec-2023-M9e {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 72.2rem;
        }
      }
      .image-106-1zt {
        margin-bottom: 0.4rem;
        width: 43.3rem;
        height: 29.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-35-LXN {
      margin: 0rem 11.789rem 6.3rem 4.5rem;
      width: calc(100% - 16.2894rem);
      height: 0.12rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-ctdp-f3r {
      width: calc(100% - 16.3rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 11.8rem 7.3rem 4.5rem;

      .auto-group-gnln-awW {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5rem;
        display: flex;

        .changing-course-how-javier-milei-will-tranform-argentinas-foreign-policy-wXA {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          max-width: 50.6rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.8725;
        }
        .president-elect-milei-will-seek-to-align-latin-americas-thrid-largest-economy-with-the-us-israel-and-the-free-world-8-dec-2023-qMe {
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 79.4rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.8725;
        }
      }
      .image-108-Jm2 {
        height: 32.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 43.3rem;
      }
    }
    .line-36-3Ti {
      height: 0.12rem;
      background-color: #bcacac;
      flex-shrink: 0;
      margin: 0rem 11.789rem 4.78rem 4.5rem;
      width: calc(100% - 16.2894rem);
    }
    .auto-group-ou8v-aCk {
      margin: 0rem 11.8rem 12rem 4.5rem;
      width: calc(100% - 16.3rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-izd4-WMJ {
        margin: 0rem 1.7rem 1.2rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tech-firms-falling-to-walk-the-walk-on-ethi-cal-aireport-says-quN {
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 4.1rem 0.9rem;
          max-width: 65.8rem;
        }
        .stanford-university-reseachers-say-ai-ethics-pratitioners-report-lacking-institutional-support-at-their-companies-8tU {
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 82.7rem;
          font-size: 3.5rem;
        }
      }
      .image-110-dKS {
        vertical-align: top;
        flex-shrink: 0;
        width: 43.3rem;
        height: 28.6rem;
        object-fit: cover;
      }
    }
    .line-37-Zit {
      width: calc(100% - 16.2894rem);
      height: 0.12rem;
      background-color: #bcacac;
      flex-shrink: 0;
      margin: 0rem 10.889rem 2.48rem 5.4rem;
    }
    .auto-group-hhga-goW {
      margin: 0rem 11.8rem 4.2rem 5.4rem;
      width: calc(100% - 17.2rem);
      height: 37.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ddki-chA {
        margin-right: 4.6rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .as-retailer-reis-troubles-with-employees-continues-consumers-back-off-Aya {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          max-width: 56.6rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.8725;
        }
        .once-know-as-the-beacon-of-corporate-america-rei-is-now-embroiled-in-face-offs-with-employees-putting-off-con-sumers-7-dec-2023-UUU {
          max-width: 78.9rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .image-111-AMJ {
        margin-top: 0.6rem;
        width: 43.3rem;
        height: 27.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-f86z-h6L {
      box-sizing: border-box;
      font-size: 3.6rem;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 62rem 34.1rem 36.4rem;
      width: calc(100% - 98.4rem);
      font-weight: 400;
      color: #fffdfd;
      white-space: nowrap;
      padding: 0.4rem 14.5rem 0rem 13.8rem;
    }
    .image-95-ZPS {
      margin-right: 1.9rem;
      width: 142.1rem;
      height: 64.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
