
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.features-9GY {
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 1.9rem;

  .auto-group-3zv6-Rjr {
    margin: 0rem 0rem 2.6rem 2rem;
    height: 10.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-1-Joe {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.1rem;
      width: 11.1rem;
      height: 10.3rem;
      object-fit: cover;
    }
    .aljazeera-ESQ {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      flex-shrink: 0;
      margin: 0rem 4.8rem 0.8rem 0rem;
      line-height: 1.8725;
      color: #efbf14;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .home-isN {
      font-size: 2rem;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      margin: 0rem 2.85rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      line-height: 1.8725;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .news-p9i {
      margin: 0rem 0.35rem 1.1rem 0rem;
      text-align: center;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .vector-7uW {
      margin: 0rem 2.049rem 0.6rem 0rem;
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .israel-gaza-war-3YG {
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      margin: 0rem 1.5rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
    }
    .features-MYx {
      margin: 0rem 1.45rem 1.1rem 0rem;
      white-space: nowrap;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
    }
    .economy-Gfv {
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      color: #150c0c;
    }
    .opinion-agc {
      font-weight: 700;
      color: #150c0c;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 1.75rem 1.1rem 0rem;
      cursor: pointer;
    }
    .video-Voa {
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 2.75rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      color: #150c0c;
      font-weight: 700;
      line-height: 1.8725;
      flex-shrink: 0;
    }
    .more-RBS {
      text-align: center;
      line-height: 1.8725;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.1rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .vector-iwE {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
      object-fit: contain;
    }
    .vector-r1r {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
      height: 1.9rem;
      object-fit: contain;
    }
    .live-P1n {
      white-space: nowrap;
      margin: 0rem 3.7rem 0.5rem 0rem;
      font-size: 2rem;
      color: #000000;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
    }
    .vector-uVv {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4rem;
      width: 2rem;
      height: 2.1rem;
    }
    .auto-group-9rrl-rg4 {
      box-sizing: border-box;
      padding: 2.2rem 0rem 1.5rem 32rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qbkc-PAC {
        margin: 0rem 26rem 0.7rem 0rem;
        width: 5.7rem;
        height: 5.7rem;
        position: relative;
        flex-shrink: 0;

        .live-uuE {
          font-family: Cairo, 'Source Sans Pro';
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          line-height: 1.8725;
          color: #150c0c;
          width: 5.7rem;
          height: 5.7rem;
          font-size: 3rem;
          font-weight: 700;
          white-space: nowrap;
        }
        .live-qH6 {
          position: absolute;
          font-size: 3rem;
          color: #150c0c;
          top: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
          width: 5.7rem;
          height: 5.7rem;
          left: 0;
          white-space: nowrap;
        }
      }
      .live-kex {
        font-weight: 700;
        line-height: 1.8725;
        color: #150c0c;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.5rem;
      }
    }
  }
  .auto-group-atr8-JAg {
    display: flex;
    align-items: center;
    background-color: #e93a3a;
    flex-shrink: 0;
    margin-bottom: 1.4rem;
    box-sizing: border-box;
    padding: 2.4rem 13.1rem 3.1rem 2rem;
    width: 100%;

    .breaking-DHe {
      margin: 0.1rem 2rem 0rem 0rem;
      font-size: 3.6rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      line-height: 1.8725;
      color: #f6eeee;
      flex-shrink: 0;
    }
    .line-1-8Qc {
      margin: 0rem 2.05rem 6.8rem 0rem;
      width: 0.1rem;
      height: 0.1rem;
      background-color: #faeded;
      flex-shrink: 0;
    }
    .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-eNx {
      font-weight: 700;
      line-height: 1.8725;
      color: #f6eeee;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.95rem 0.7rem 0rem;
      text-align: center;
      font-size: 3.2rem;
    }
    .vector-j9W {
      margin: 0.001rem 2.3rem 0rem 0rem;
      width: 2.9rem;
      height: 2.7012rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-3fz {
      height: 2.1947rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.0947rem;
      width: 2.4rem;
    }
  }
  .features-B1W {
    line-height: 1.8725;
    color: #000000;
    font-family: Cairo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 3.5rem;
    font-size: 4.5rem;
    font-weight: 700;
  }
  .auto-group-nnbg-uy6 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 3.9rem;
    width: 100%;
    display: flex;

    .auto-group-4zzu-pqA {
      flex-shrink: 0;
      margin: 0rem 0rem 18.8rem 2rem;
      display: flex;
      align-items: flex-start;

      .auto-group-mww8-xAg {
        margin-right: 3.8rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-30-VAc {
          margin-bottom: 1.8rem;
          width: 56.9rem;
          height: 37rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-we1k-18x {
          width: 53.5rem;
          height: 33.2rem;
          position: relative;
          flex-shrink: 0;

          .australia-is-preparing-to-burn-more-fossil-fuels-8zG {
            font-size: 3.6rem;
            font-weight: 700;
            font-family: Cairo, 'Source Sans Pro';
            height: 13.5rem;
            left: 0;
            top: 0;
            color: #000000;
            width: 48.2rem;
            position: absolute;
            line-height: 1.8725;
          }
          .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-Dkp {
            position: absolute;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.8739999135;
            color: #7a7676;
            width: 53.5rem;
            height: 19.9rem;
            left: 0;
            top: 13.3rem;
            font-family: Cairo, 'Source Sans Pro';

            .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-Dkp-sub-0 {
              font-size: 2.7rem;
              font-weight: 700;
              line-height: 1.8725;
              color: #7a7676;
              font-family: Cairo, 'Source Sans Pro';
            }
            .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-Dkp-sub-1 {
              font-family: Cairo, 'Source Sans Pro';
              font-size: 2.5rem;
              font-weight: 700;
              line-height: 1.8725;
              color: #7a7676;
            }
          }
        }
      }
      .auto-group-nysp-yG8 {
        margin: 0.5rem 1.8rem 0rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-31-hhv {
          height: 16.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 7.1rem;
          width: 25.9rem;
        }
        .image-32-r52 {
          margin-bottom: 9.6rem;
          width: 25.9rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-34-Bd6 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 25.9rem;
          height: 16.4rem;
        }
      }
      .auto-group-ar7p-KzC {
        margin-top: 0.2rem;
        width: 40.1rem;
        flex-shrink: 0;

        .auto-group-ms2v-sVv {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 0rem 0.2rem 0.6rem 0.2rem;
          width: 100%;

          .when-skiing-santas-hit-the-slopes-in-maine-us-to-kickoff-holiday-season-o8g {
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1rem;
            max-width: 37.7rem;
            font-size: 2rem;
          }
          .the-annual-event-has-been-held-for-more-than-20-years-except-for-once-during-the-pandemic-giG {
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            max-width: 33rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
          }
          .image-33-BQ8 {
            height: 4.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 14.6rem;
          }
          .long-read-WhJ {
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8725;
          }
        }
        .auto-group-b9ci-Fet {
          margin-bottom: 6.1rem;
          width: 100%;
          height: 16.4rem;
          position: relative;

          .how-a-childs-death-caused-an-ohio-city-to-turn-on-its-haitian-community-oRW {
            color: #000000;
            width: 31.6rem;
            height: 7.5rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8725;
            font-family: Cairo, 'Source Sans Pro';
            position: absolute;
            left: 0.2rem;
            top: 0;
          }
          .a-fatal-school-bus-crash-in-springfield-ohio-has-sparked-a-backlash-to-the-citys-burgeoning-immigrant-population-12-dec-2023-tSx {
            font-family: Cairo, 'Source Sans Pro';
            height: 9rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #7a7676;
            width: 40.1rem;
            position: absolute;
            left: 0;
            top: 7.4rem;
          }
        }
        .west-bank-fighters-say-israel-war-on-gaza-inspires-more-resis-tance-9Nt {
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          margin: 0rem 0rem 0.2rem 1.3rem;
          max-width: 28.7rem;
          font-size: 2rem;
        }
        .al-jazeera-speaks-to-palestinian-resistance-fighters-in-the-northern-city-of-tulkarem-amid-israels-war-on-gaza-12-dec-2023-SMz {
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          margin-left: 1.8rem;
          max-width: 36.4rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.8725;
        }
      }
    }
    .auto-group-k2ty-Vr4 {
      margin: 0rem 10.1rem 1.2rem 1.1rem;
      width: calc(100% - 11.2rem);
      height: 49.1rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-nggw-znp {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 2.3rem 0rem 0rem;
        width: 90.2rem;
        height: calc(100% - 0rem);
        align-items: center;

        .auto-group-n8oq-KKJ {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          height: 20.8rem;
          display: flex;

          .auto-group-nrjq-fPA {
            margin-right: 2.2rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-obgz-okG {
              position: relative;
              flex-shrink: 0;
              margin: 0rem 0rem 0.9rem 2rem;
              width: 53.6rem;
              height: 16.8rem;

              .photos-israel-is-bombing-starving-palestinians-in-southern-gaza-8nY {
                top: 0;
                font-weight: 700;
                line-height: 1.8725;
                color: #000000;
                font-family: Cairo, 'Source Sans Pro';
                width: 53.6rem;
                position: absolute;
                font-size: 2.5rem;
                height: 9.4rem;
                left: 0;
              }
              .hunger-is-worsening-across-the-besieged-enclave-with-the-united-nations-saying-half-of-gazas-population-is-starving-SHS {
                font-size: 2rem;
                font-family: Cairo, 'Source Sans Pro';
                position: absolute;
                top: 9.3rem;
                left: 0;
                font-weight: 700;
                line-height: 1.8725;
                color: #7a7676;
                width: 50.7rem;
                height: 7.5rem;
              }
            }
            .image-81-Ujv {
              width: 24.3rem;
              height: 3.1rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .image-79-DhW {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            width: 32.4rem;
            height: 19.7rem;
            object-fit: cover;
          }
        }
        .auto-group-hhts-xf6 {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          border-bottom: solid 0.1rem #bcacac;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.6rem 0rem 2.7rem 1.5rem;
          width: 100%;

          .line-28-VQ8 {
            margin: 0rem 0rem 1.7rem 0rem;
            width: calc(100% - 0rem);
            height: 0.1rem;
            background-color: #bcacac;
            flex-shrink: 0;
          }
          .auto-group-d3ot-RYg {
            margin: 0rem 0rem 2.6rem 0.5rem;
            width: calc(100% - 0.5rem);
            height: 20.2rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .auto-group-dnmu-YdJ {
              margin-right: 2.3rem;
              width: 53.5rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .what-is-the-situation-in-gazas-khan-younis-as-israel-intensifies-attacks-6Pv {
                height: 9.4rem;
                left: 0;
                color: #000000;
                font-family: Cairo, 'Source Sans Pro';
                width: 49.4rem;
                position: absolute;
                top: 0;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 1.8725;
              }
              .israel-has-intensified-attacks-on-khan-younis-which-it-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-zEQ {
                width: 53.5rem;
                position: absolute;
                top: 9.3rem;
                font-weight: 700;
                height: 10.9rem;
                left: 0;
                font-size: 2rem;
                line-height: 1.8725;
                color: #7a7676;
                font-family: Cairo, 'Source Sans Pro';

                .israel-has-intensified-attacks-on-khan-younis-which-it-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-zEQ-sub-0 {
                }
                .israel-has-intensified-attacks-on-khan-younis-which-it-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-zEQ-sub-1 {
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: 1.8725;
                  color: #7a7676;
                  font-family: Cairo, 'Source Sans Pro';
                }
              }
            }
            .image-82-T1W {
              height: 18.1rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.3rem;
              width: 32.4rem;
            }
          }
        }
      }
      .auto-group-jbsl-Msa {
        padding: 2.3rem 1.8rem 5.6rem 2.6rem;
        width: 40.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #f8eded;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-y51p-GUk {
          margin: 0rem 0rem 3.5rem 2.6rem;
          width: 33.3rem;
          height: 9.5rem;
          position: relative;
          flex-shrink: 0;

          .sign-up-for-al-jazeera-bmv {
            white-space: nowrap;
            width: 19.6rem;
            left: 6rem;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.8725;
            height: 3.8rem;
            position: absolute;
            top: 0;
            font-size: 2rem;
          }
          .week-in-the-middle-east-unc {
            left: 0;
            white-space: nowrap;
            position: absolute;
            height: 6rem;
            top: 3.5rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            width: 33.3rem;
          }
        }
        .catch-up-on-our-coverage-of-the-region-all-in-one-place-26Y {
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.6rem 1.6rem 0rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
        }
        .auto-group-zqjz-vSp {
          border-radius: 0.4rem;
          margin: 0rem 1.9rem 2.2rem 0rem;
          padding: 0.2rem 2rem;
          background-color: #f5f5f5;
          flex-shrink: 0;
          width: 34rem;
          border: solid 0.1rem #d9d9d9;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #beb6b6;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          height: 4.6rem;
        }
        .auto-group-r9ga-mTS {
          height: 4.4rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 12.1rem 4.5rem 10.3rem;
          width: calc(100% - 22.4rem);

          .rectangle-6-gqJ {
            left: 0;
            top: 0;
            background-color: #000000;
            width: 13.5rem;
            height: 4.2rem;
            position: absolute;
          }
          .sign-up-dVe {
            height: 4.4rem;
            left: 3.1rem;
            font-size: 2.3rem;
            color: #fffdfd;
            white-space: nowrap;
            width: 8.2rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 1.8725;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
        .auto-group-agnj-vzY {
          flex-shrink: 0;
          margin-right: 9.7rem;
          width: calc(100% - 9.7rem);
          display: flex;
          align-items: center;

          .by-signing-up-you-agree-to-our-H4Q {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.6rem;
          }
          .privacy-policy-bat {
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.8725;
          }
        }
      }
    }
    .auto-group-vqvl-7p8 {
      flex-shrink: 0;
      margin: 0rem 0rem 3.4rem 3.1rem;
      display: flex;
      align-items: flex-start;

      .auto-group-ltqw-FfS {
        margin: 1.2rem 3.3rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .everyone-is-going-hungry-in-gaza-un-envoys-learn-on-visit-to-rafah-border-zd2 {
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          max-width: 48.9rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
        }
        .un-security-council-envoys-have-visited-gazas-rafah-border-crossing-with-egypt-12-dec-2023-Hc8 {
          max-width: 52.5rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;

          .un-security-council-envoys-have-visited-gazas-rafah-border-crossing-with-egypt-12-dec-2023-Hc8-sub-0 {
          }
          .un-security-council-envoys-have-visited-gazas-rafah-border-crossing-with-egypt-12-dec-2023-Hc8-sub-1 {
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.8725;
          }
        }
      }
      .image-83-dJc {
        flex-shrink: 0;
        margin: 1.2rem 2.3rem 0rem 0rem;
        width: 32.4rem;
        height: 19.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .protected-by-recaptcha-YgU {
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8725;
        color: #000000;
        font-family: Cairo, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .line-30-HPA {
      height: 0.1rem;
      background-color: #bcacac;
      flex-shrink: 0;
      margin: 0rem 0rem 2.2rem 2.6rem;
      width: 88.7rem;
    }
    .auto-group-xasp-CW8 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 52.7rem 3.4rem 3.1rem;
      width: calc(100% - 55.8rem);
      height: 20.2rem;

      .auto-group-zecn-X2c {
        width: 52.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 3.1rem;

        .west-bank-fighters-say-israel-war-on-gaza-inspires-more-resistance-rqa {
          height: 9.4rem;
          font-size: 2.5rem;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          width: 45.3rem;
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 700;
        }
        .al-jazeerah-speaks-to-palestinian-resistance-fighters-in-the-northern-city-of-tulkarem-amid-israels-war-on-gaza-12-dec-2023-xNp {
          height: 10.9rem;
          font-size: 2rem;
          color: #7a7676;
          width: 52.7rem;
          position: absolute;
          left: 0;
          top: 9.3rem;
          font-weight: 700;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';

          .al-jazeerah-speaks-to-palestinian-resistance-fighters-in-the-northern-city-of-tulkarem-amid-israels-war-on-gaza-12-dec-2023-xNp-sub-0 {
          }
          .al-jazeerah-speaks-to-palestinian-resistance-fighters-in-the-northern-city-of-tulkarem-amid-israels-war-on-gaza-12-dec-2023-xNp-sub-1 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
        .al-jazeerah-speaks-to-palestinian-resistance-fighters-in-the-northern-city-of-tulkarem-amid-israels-war-on-gaza-12-dec-2023-G28 {
          width: 52.7rem;
          top: 9.3rem;
          color: #7a7676;
          height: 10.9rem;
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';

          .al-jazeerah-speaks-to-palestinian-resistance-fighters-in-the-northern-city-of-tulkarem-amid-israels-war-on-gaza-12-dec-2023-G28-sub-0 {
          }
          .al-jazeerah-speaks-to-palestinian-resistance-fighters-in-the-northern-city-of-tulkarem-amid-israels-war-on-gaza-12-dec-2023-G28-sub-1 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
      .image-85-aS8 {
        flex-shrink: 0;
        margin-top: 0.2rem;
        width: 32.4rem;
        height: 19.3rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .line-31-iHS {
      margin: 0rem 0rem 3rem 2.6rem;
      width: 88.7rem;
      height: 0.1rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-p8cn-qcx {
      height: 20rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 52.7rem 1.8rem 3.1rem;
      width: calc(100% - 55.8rem);

      .auto-group-42hk-Zor {
        margin-right: 2.9rem;
        width: 52.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .israeli-forces-blow-up-unrwa-school-in-northern-gaza-7aU {
          font-family: Cairo, 'Source Sans Pro';
          height: 9.4rem;
          left: 0.2rem;
          top: 0;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          width: 52.7rem;
          position: absolute;
        }
        .a-video-shows-the-moment-israeli-forces-blew-up-a-unrwa-school-building-in-beit-hanoun-in-northern-gaza-12-dec-2023-cXE {
          height: 10.9rem;
          position: absolute;
          left: 0;
          font-size: 2rem;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          width: 51rem;
          top: 9.1rem;
          font-weight: 700;
          line-height: 1.8725;

          .a-video-shows-the-moment-israeli-forces-blew-up-a-unrwa-school-building-in-beit-hanoun-in-northern-gaza-12-dec-2023-cXE-sub-0 {
          }
          .a-video-shows-the-moment-israeli-forces-blew-up-a-unrwa-school-building-in-beit-hanoun-in-northern-gaza-12-dec-2023-cXE-sub-1 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
      .image-89-wC8 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 32.4rem;
        height: 19.3rem;
      }
    }
    .line-32-Uxk {
      margin: 0rem 0rem 2.4rem 2.6rem;
      width: 88.7rem;
      height: 0.1rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-jxbq-ok8 {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 52.7rem 2.6rem 3.1rem;
      width: calc(100% - 55.8rem);
      height: 24.3rem;
      display: flex;

      .auto-group-veei-8nQ {
        margin-right: 3.1rem;
        width: 52.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .israeli-forces-blow-up-unrwa-school-in-northern-gaza-szt {
          line-height: 1.8725;
          width: 52.7rem;
          left: 0;
          top: 0;
          font-weight: 700;
          font-family: Cairo, 'Source Sans Pro';
          height: 9.4rem;
          position: absolute;
          font-size: 2.5rem;
          color: #000000;
        }
        .al-jazeera-journalist-anas-al-sharif-bids-farewall-to-his-father-who-was-killed-when-an-israeli-strike-hit-their-12-dec-2023-Bkg {
          color: #7a7676;
          height: 15rem;
          position: absolute;
          left: 0.2rem;
          top: 9.3rem;
          font-size: 2rem;
          font-weight: 500;
          width: 40.3rem;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
        }
      }
      .image-90-FEk {
        vertical-align: top;
        flex-shrink: 0;
        width: 32.4rem;
        height: 23.7rem;
        object-fit: cover;
      }
    }
    .line-33-yRe {
      margin: 0rem 0rem 3.6rem 3.3rem;
      width: 88.7rem;
      height: 0.1rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-ojrn-JD2 {
      flex-shrink: 0;
      margin: 0rem 52.7rem 4.4rem 3.1rem;
      width: calc(100% - 55.8rem);
      height: 21.1rem;
      display: flex;
      align-items: flex-end;

      .auto-group-kfpi-czQ {
        margin-right: 7.4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .as-gaza-reels-ukraine-war-feel-suddenly-distant-in-global-south-nations-MSC {
          max-width: 44.3rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.4rem;
        }
        .analysty-say-the-western-response-to-palisitian-suffering-has-underscored-a-double-standard-12-dec-2023-STe {
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.2rem;
          max-width: 48.2rem;
          font-size: 2rem;
        }
      }
      .image-91-KnL {
        margin-bottom: 0.2rem;
        width: 32.4rem;
        height: 20rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-34-4V2 {
      margin: 0rem 0rem 3.6rem 3.3rem;
      width: 88.7rem;
      height: 0.1rem;
      background-color: #bcacac;
      flex-shrink: 0;
    }
    .auto-group-m9fc-PGQ {
      flex-shrink: 0;
      margin: 0rem 52.7rem 6rem 3.1rem;
      width: calc(100% - 55.8rem);
      display: flex;
      align-items: flex-start;

      .auto-group-uftl-iJg {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 10.4rem;

        .know-their-names-palesitinians-killed-by-is-rael-in-the-occupied-west-bank-TXA {
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          max-width: 39rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
        }
        .even-before-october-7-the-year-2023-was-deadlist-on-record-for-palestinians-in-the-occupied-west-bank-12-dec-2023-whE {
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.2rem;
          max-width: 45.2rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
        }
      }
      .image-97-q1v {
        width: 32.4rem;
        height: 19.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-1mmg-mgG {
      margin: 0rem 57.6rem 11.6rem 0rem;
      box-sizing: border-box;
      padding: 0rem 15.5rem 0rem 12.8rem;
      height: 7.2rem;
      font-size: 3.6rem;
      font-weight: 400;
      line-height: 1.8725;
      color: #fffdfd;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #000000;
      flex-shrink: 0;
    }
    .image-59-cwn {
      width: 142.1rem;
      height: 64.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
