
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.israel-palestine-conflict-TSk {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 1.8rem;
  position: relative;
  align-items: center;
  background-color: #ffffff;

  .auto-group-wfmp-9Ka {
    margin: 0rem 0rem 2.7rem 1.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-1-3A4 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.1rem;
      width: 11.1rem;
      height: 10.3rem;
      object-fit: cover;
    }
    .aljazeera-xH2 {
      text-align: center;
      font-size: 3rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.8rem 0.8rem 0rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #efbf14;
      font-family: Cairo, 'Source Sans Pro';
    }
    .home-SCC {
      font-size: 2rem;
      line-height: 1.8725;
      color: #150c0c;
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .news-8Kv {
      flex-shrink: 0;
      cursor: pointer;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      font-weight: 700;
      line-height: 1.8725;
      white-space: nowrap;
      margin: 0rem 0.35rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
    }
    .vector-qEL {
      margin: 0rem 2.049rem 0.6rem 0rem;
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .israel-gaza-war-MTa {
      text-align: center;
      line-height: 1.8725;
      color: #150c0c;
      flex-shrink: 0;
      margin: 0rem 1.5rem 1.1rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .features-4sn {
      margin: 0rem 1.45rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      line-height: 1.8725;
      color: #150c0c;
      font-size: 2rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .economy-BxQ {
      margin: 0rem 2.6rem 1.1rem 0rem;
      font-size: 2rem;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      text-align: center;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .opinion-iSY {
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      margin: 0rem 1.75rem 1.1rem 0rem;
      text-align: center;
      flex-shrink: 0;
    }
    .video-e5J {
      margin: 0rem 2.75rem 1.1rem 0rem;
      text-align: center;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      flex-shrink: 0;
    }
    .more-N1J {
      margin: 0rem 0.3rem 1.1rem 0rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      white-space: nowrap;
      text-align: center;
      font-size: 2rem;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .vector-Uq2 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
    }
    .vector-oMW {
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-88t {
      color: #000000;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      margin: 0rem 3.7rem 0.5rem 0rem;
      font-size: 2rem;
    }
    .vector-qoz {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 33.8rem 0.4rem 0rem;
      width: 2rem;
      height: 2.1rem;
    }
    .live-aWg {
      color: #150c0c;
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      margin-top: 1.8rem;
      text-align: center;
    }
  }
  .auto-group-xtij-uYx {
    box-sizing: border-box;
    padding: 2rem 14.1rem 3.1rem 0.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e93a3a;
    flex-shrink: 0;

    .breaking-E5S {
      text-align: center;
      line-height: 1.8725;
      color: #f6eeee;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.5rem 0.8rem 0rem 0rem;
      font-size: 3.6rem;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
    }
    .line-1-9TJ {
      flex-shrink: 0;
      margin: 0rem 2.05rem 7.2rem 0rem;
      width: 0.1rem;
      height: 0.1rem;
      background-color: #faeded;
    }
    .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-UEg {
      margin: 0.3rem 2.95rem 0rem 0rem;
      text-align: center;
      font-size: 3.2rem;
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.8725;
      color: #f6eeee;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .vector-MpG {
      width: 2.9rem;
      height: 2.8362rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.336rem 3.1rem 0rem 0rem;
    }
    .vector-tJQ {
      margin-top: 0.8044rem;
      width: 2.4rem;
      height: 2.3044rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .israel-palestine-conflict-Dba {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.8725;
    color: #000000;
    font-family: Cairo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 2.9rem;
  }
  .auto-group-a9mx-Ydr {
    flex-shrink: 0;
    width: 100%;
    height: 430.9rem;
    position: relative;

    .auto-group-zf6n-TF2 {
      left: 1.4rem;
      top: 14.6rem;
      display: flex;
      align-items: center;
      width: 133.4rem;
      height: 86.9rem;
      position: absolute;

      .auto-group-9bpt-xxU {
        box-sizing: border-box;
        padding-right: 1.5rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-r1zx-WDJ {
          margin-right: 2.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-21-FRn {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 60.2rem;
            height: 39.6rem;
            object-fit: cover;
          }
          .un-general-assembly-votes-overwhelmingly-in-favour-of-gaza-ceasefire-aix {
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 1rem;
            max-width: 58.1rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.8725;
          }
          .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-HdN {
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 1rem;
            max-width: 53.4rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.8725;
          }
        }
        .auto-group-y7n6-ASG {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.3rem 0rem 1.8rem 0rem;
          height: calc(100% - 3.1rem);
          align-items: center;
          display: flex;

          .image-24-VDe {
            width: 32.6rem;
            height: 24.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 5.8rem;
          }
          .image-26-DvL {
            margin-bottom: 9.6rem;
            width: 32.6rem;
            height: 22.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-75-mBA {
            width: 32.6rem;
            height: 21.6rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-lqc6-uHN {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-tgji-4AG {
          margin: 0rem 0rem 4.5rem 0.6rem;
          width: 35.7rem;
          height: 26.9rem;
          position: relative;
          flex-shrink: 0;

          .even-in-time-of-genocide-big-tech-silences-palestinians-yo2 {
            font-weight: 700;
            color: #000000;
            width: 35.1rem;
            position: absolute;
            font-size: 2.4rem;
            line-height: 1.8725;
            font-family: Cairo, 'Source Sans Pro';
            height: 9rem;
            left: 0;
            top: 3.5rem;
          }
          .social-media-platforms-have-been-systematically-censoring-pro-palestinian-content-while-allowing-anti-palestinian-hate-speech-sdW {
            height: 15rem;
            left: 0;
            top: 11.9rem;
            font-weight: 700;
            color: #7a7676;
            width: 35.7rem;
            position: absolute;
            font-size: 2rem;
            line-height: 1.8725;
            font-family: Cairo, 'Source Sans Pro';
          }
          .opinion-wdN {
            left: 0;
            top: 0;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.8725;
            width: 9.6rem;
            height: 4.7rem;
            position: absolute;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-vqei-eng {
          width: 35.5rem;
          height: 11.7rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1rem;

          .biden-warns-israel-risks-losing-support-over-indiscriminate-gaza-bombing-PEU {
            top: 3.8rem;
            font-size: 2.1rem;
            line-height: 1.8725;
            color: #000000;
            width: 35.5rem;
            position: absolute;
            font-weight: 700;
            font-family: Cairo, 'Source Sans Pro';
            height: 7.9rem;
            left: 0;
          }
          .image-27-rtk {
            height: 4.1rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 33.4rem;
          }
        }
        .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-CBv {
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 6.4rem 0.4rem;
          max-width: 30.7rem;
          font-size: 1.7rem;
          font-weight: 700;
        }
        .auto-group-i8wq-TNk {
          width: 35.6rem;
          height: 23.6rem;
          position: relative;
          flex-shrink: 0;

          .photos-israel-is-bombing-starving-palestinians-in-southern-gaza-1QG {
            line-height: 1.8725;
            width: 35.2rem;
            height: 9rem;
            left: 0;
            font-weight: 700;
            font-family: Cairo, 'Source Sans Pro';
            position: absolute;
            top: 0;
            font-size: 2.4rem;
            color: #000000;
          }
          .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-WM2 {
            font-size: 2rem;
            width: 35.2rem;
            position: absolute;
            left: 0.4rem;
            line-height: 1.8725;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
            height: 15rem;
            top: 8.6rem;
            font-weight: 700;
          }
        }
      }
    }
    .auto-group-2bks-Zq6 {
      top: 122.3rem;
      display: flex;
      align-items: center;
      width: 106rem;
      height: 34.5rem;
      position: absolute;
      left: 9.6rem;

      .auto-group-44e2-hgQ {
        flex-shrink: 0;
        margin-right: 5.3rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .what-is-the-situation-in-gazas-khan-younis-as-israel-intensifies-attacks-ebe {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 60rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.8725;
        }
        .israel-has-intensified-attacks-on-khan-younis-which-was-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-dTa {
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 65.6rem;
          font-size: 3rem;
          font-weight: 700;

          .israel-has-intensified-attacks-on-khan-younis-which-was-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-dTa-sub-0 {
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.8725;
            color: #7a7676;
            font-family: Cairo, 'Source Sans Pro';
          }
          .israel-has-intensified-attacks-on-khan-younis-which-was-dubbed-a-safe-zone-in-the-initial-days-of-the-war-12-dec-2023-dTa-sub-1 {
          }
        }
      }
      .image-76-j2k {
        flex-shrink: 0;
        margin-bottom: 4.8rem;
        width: 35.1rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .line-26-3ZE {
      top: 9.6rem;
      background-color: #000000;
      width: 142.7rem;
      height: 0.1rem;
      position: absolute;
      left: 1.3rem;
    }
    .explainer-Atk {
      top: 111.9rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.8725;
      width: 15.8rem;
      height: 6rem;
      position: absolute;
      left: 15.4rem;
      color: #000000;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-yabg-5F2 {
      width: 106rem;
      height: 28.1rem;
      position: absolute;
      left: 9.6rem;
      top: 162.4rem;
      display: flex;
      align-items: flex-end;

      .auto-group-spmc-CKe {
        margin-right: 3.6rem;
        width: 67.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .from-newsfeed-Xsi {
          left: 0;
          top: 0;
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          white-space: nowrap;
          width: 21.4rem;
          position: absolute;
          font-size: 3rem;
          font-family: Cairo, 'Source Sans Pro';
          height: 5.7rem;
        }
        .everyone-is-going-hungry-in-gaza-un-en-voys-learn-on-visit-to-rafah-border-r9J {
          position: absolute;
          top: 5.6rem;
          font-size: 3rem;
          font-weight: 700;
          color: #000000;
          width: 53.9rem;
          height: 11.3rem;
          left: 0;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
        }
        .un-security-council-envoys-have-visited-gazas-rafah-border-crossing-with-egypt-86p {
          line-height: 1.8725;
          color: #000000;
          top: 16.8rem;
          font-size: 3rem;
          font-weight: 500;
          left: 0;
          font-family: Cairo, 'Source Sans Pro';
          width: 67.3rem;
          height: 11.3rem;
          position: absolute;
        }
      }
      .image-77-CsN {
        width: 35.1rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
      }
    }
    .line-26-LTn {
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
      left: 6.4rem;
      top: 158.3rem;
      background-color: #bcacac;
    }
    .line-28-U4C {
      position: absolute;
      left: 6.4rem;
      top: 200.3rem;
      background-color: #bcacac;
      width: 118.1027rem;
      height: 0.1073rem;
    }
    .line-29-ocG {
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
      left: 6.4rem;
      top: 242.5rem;
      background-color: #bcacac;
    }
    .line-30-k1i {
      left: 6.4rem;
      top: 282.3rem;
      background-color: #bcacac;
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
    }
    .line-31-5Jt {
      background-color: #bcacac;
      width: 118.1027rem;
      height: 0.1073rem;
      position: absolute;
      left: 6.4rem;
      top: 330.5rem;
    }
    .image-78-1iL {
      top: 192rem;
      object-fit: cover;
      vertical-align: top;
      width: 18.4rem;
      height: 3.2rem;
      position: absolute;
      left: 9.6rem;
    }
    .image-81-Lkc {
      left: 10.9rem;
      top: 234.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 18.4rem;
      height: 3.2rem;
      position: absolute;
    }
    .auto-group-nvjr-GuA {
      width: 105.8rem;
      height: 25.3rem;
      position: absolute;
      left: 9.8rem;
      top: 207.4rem;
      display: flex;
      align-items: flex-end;

      .un-security-council-envoys-have-visited-gaza-rafa-border-crossing-with-egypt-ncc {
        color: #7a7676;
        font-family: Cairo, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.6rem;
        max-width: 67.1rem;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.8725;
      }
      .image-80-ShA {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 35.1rem;
        height: 23.5rem;
        object-fit: cover;
      }
    }
    .auto-group-qody-9ba {
      position: absolute;
      left: 9.8rem;
      top: 249.8rem;
      display: flex;
      align-items: flex-end;
      width: 107.45rem;
      height: 26.3rem;

      .auto-group-b5b4-F8p {
        margin-right: 8.4rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .israeli-forces-blow-up-unrwa-school-in-northern-gaza-yKi {
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 53.9rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
        }
        .video-shows-the-moment-israeli-force-blew-up-the-unrwa-school-in-northern-gaza-fTS {
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.8725;
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 62.3rem;
        }
      }
      .image-84-gtL {
        margin-bottom: 1.8rem;
        width: 36.75rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-wnvu-Cbn {
      height: 31.7rem;
      position: absolute;
      left: 9.8rem;
      top: 291.5rem;
      display: flex;
      align-items: flex-start;
      width: 108.5354rem;

      .auto-group-bh6e-Ht8 {
        margin: 0.4rem 2.7rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .al-jazeera-journalists-father-killed-in-israeli-strike-on-his-gaza-home-oLg {
          max-width: 59.5rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.3rem;
        }
        .al-jazeera-journalist-anas-al-sharif-bids-farewall-to-his-father-who-was-killed-when-an-israeli-strike-hit-their-5JC {
          color: #7a7676;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 68rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.8725;
        }
      }
      .image-87-kv8 {
        width: 37.8354rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .image-86-6j6 {
      vertical-align: top;
      width: 15.8rem;
      height: 3rem;
      position: absolute;
      left: 9.8rem;
      top: 277.5rem;
      object-fit: cover;
    }
    .image-88-RmN {
      width: 16.6rem;
      height: 3rem;
      position: absolute;
      left: 9.8rem;
      top: 324.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-217l-Mf2 {
      padding: 0.4rem 14.5rem 0rem 13.8rem;
      font-weight: 400;
      font-family: Cairo, 'Source Sans Pro';
      background-color: #000000;
      box-sizing: border-box;
      height: 7.2rem;
      font-size: 3.6rem;
      white-space: nowrap;
      width: 45.6rem;
      left: 45.7rem;
      top: 345.8rem;
      position: absolute;
      line-height: 1.8725;
      color: #fffdfd;
    }
    .frame-2-C9r {
      width: 134.9rem;
      height: 6rem;
      position: absolute;
      left: 1.3rem;
      top: 0.9rem;
      overflow: hidden;
      box-sizing: border-box;
      padding-left: 1.9rem;

      .frame-1-KEU {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 271.2rem;
        height: 5.7rem;

        .live-updates-EcL {
          line-height: 1.8725;
          color: #150c0c;
          flex-shrink: 0;
          margin-right: 2.85rem;
          text-align: center;
          font-weight: 700;
          font-size: 3rem;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .know-their-names-west-bank-xHS {
          margin-right: 2.9rem;
          text-align: center;
          font-size: 3rem;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .tunnel-warfare-5N4 {
          text-align: center;
          line-height: 1.8725;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.85rem;
          font-size: 3rem;
          font-weight: 700;
        }
        .photos-nnG {
          color: #150c0c;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.85rem;
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
        }
        .what-role-is-ai-playing-vNg {
          text-align: center;
          font-size: 3rem;
          line-height: 1.8725;
          flex-shrink: 0;
          margin-right: 2.95rem;
          font-weight: 700;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .we-are-dying-here-eZa {
          margin-right: 2.9rem;
          font-size: 3rem;
          white-space: nowrap;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
        }
        .a-brief-history-ZwS {
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          white-space: nowrap;
          margin-right: 2.5rem;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.8725;
        }
        .did-tech-dependence-cause-intel-failure--uEc {
          text-align: center;
          font-size: 3rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.05rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
        }
        .live-tracker-RTr {
          text-align: center;
          font-size: 3rem;
          color: #150c0c;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.85rem;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
          font-weight: 700;
        }
        .a-simple-guide-km2 {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #150c0c;
          font-family: Cairo, 'Source Sans Pro';
        }
      }
    }
    .image-59-gua {
      width: 142.1rem;
      height: 64.2rem;
      position: absolute;
      left: 0;
      top: 366.7rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
