
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.news-8wW {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 2rem;
  width: 100%;

  .auto-group-1yqk-4KN {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 17rem 2.5rem 0rem;
    display: flex;

    .image-1-A7W {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.1rem;
      width: 11.1rem;
      height: 10.3rem;
      object-fit: cover;
    }
    .aljazeera-Utt {
      margin: 0rem 4.8rem 0.8rem 0rem;
      font-weight: 700;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      line-height: 1.8725;
      color: #efbf14;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .home-xp4 {
      font-size: 2rem;
      color: #150c0c;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.85rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
    }
    .news-TVv {
      margin: 0rem 0.35rem 1.1rem 0rem;
      text-align: center;
      font-size: 2rem;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.8725;
      flex-shrink: 0;
    }
    .vector-Av8 {
      flex-shrink: 0;
      margin: 0rem 2.049rem 0.6rem 0rem;
      width: 1.2009rem;
      height: 0.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .israel-gaza-war-VhW {
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      line-height: 1.8725;
      cursor: pointer;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.5rem 1.1rem 0rem;
    }
    .features-CM2 {
      margin: 0rem 1.45rem 1.1rem 0rem;
      text-align: center;
      font-weight: 700;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.8725;
    }
    .economy-WsW {
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.1rem 0rem;
    }
    .opinion-2L4 {
      line-height: 1.8725;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.75rem 1.1rem 0rem;
      font-size: 2rem;
      font-weight: 700;
      color: #150c0c;
      cursor: pointer;
      text-align: center;
    }
    .video-Kpx {
      margin: 0rem 2.75rem 1.1rem 0rem;
      cursor: pointer;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      flex-shrink: 0;
      font-size: 2rem;
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .more-e6Y {
      color: #150c0c;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.8725;
      margin: 0rem 0.3rem 1.1rem 0rem;
    }
    .vector-KyN {
      margin: 0rem 4.198rem 0.7rem 0rem;
      width: 0.9022rem;
      height: 1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .vector-2ct {
      margin: 0rem 0.8rem 0.6rem 0rem;
      width: 2.1rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .live-9hW {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.8725;
      color: #000000;
      font-family: Cairo, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.7rem 0.5rem 0rem;
      text-align: center;
      white-space: nowrap;
    }
    .vector-s7i {
      margin-bottom: 0.4rem;
      width: 2rem;
      height: 2.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-ysf4-Prk {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e93a3a;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.2rem 11rem 3.4rem 3rem;

    .breaking-Jip {
      text-align: center;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.4rem;
      font-size: 3.6rem;
      line-height: 1.8725;
      color: #f6eeee;
    }
    .line-1-S4L {
      margin: 0rem 1.55rem 6.3rem 0rem;
      width: 0.1rem;
      height: 0.1rem;
      background-color: #faeded;
      flex-shrink: 0;
    }
    .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-9jS {
      line-height: 1.8725;
      color: #f6eeee;
      font-size: 3.2rem;
      text-align: center;
      font-weight: 700;
      font-family: Cairo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.75rem 0.2rem 0rem;
    }
    .vector-EVz {
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.2rem 2.7rem 0rem 0rem;
      width: 2.9rem;
    }
    .vector-kUL {
      flex-shrink: 0;
      margin-top: 0.8rem;
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .news-sYx {
    margin-right: 8.1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.8725;
    color: #000000;
    font-family: Cairo, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-4wmg-bzk {
    height: 487.7rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .auto-group-qe8e-XdW {
      left: 3rem;
      top: 3.4rem;
      display: flex;
      align-items: center;
      width: 130.2rem;
      height: 46.5rem;
      position: absolute;

      .auto-group-ycuu-3br {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 68.3rem;

        .image-22-nZS {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 68.3rem;
          height: 44.8rem;
          position: absolute;
          left: 0;
        }
        .rectangle-3-ihz {
          left: 12rem;
          top: 43.2rem;
          background-color: #fb8d0b;
          width: 13.6rem;
          height: 3.3rem;
          position: absolute;
        }
      }
      .auto-group-fajp-ebe {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 3.8rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .auto-group-wag6-bWt {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 1.9rem;

          .image-63-LzG {
            flex-shrink: 0;
            margin-bottom: 5.5rem;
            width: 25.6rem;
            height: 18.5rem;
            object-fit: cover;
            vertical-align: top;
          }
          .image-61-U4t {
            vertical-align: top;
            flex-shrink: 0;
            width: 25.6rem;
            height: 17.4rem;
            object-fit: cover;
          }
        }
        .auto-group-dhr8-cB6 {
          margin-top: 1.8rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .dozens-hurt-childrens-hospital-damaged-in-russian-missile-attack-on-kyiv-MeU {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            max-width: 30.6rem;
          }
          .officials-warn-number-of-injured-could-rise-after-second-missile-attack-on-ukrainian-capital-this-week-3XJ {
            margin-bottom: 7.4rem;
            max-width: 30rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .zelenskyy-urges-new-ukraine-aid-as-biden-warns-funding-delay-helps-putin-LWQ {
            margin-bottom: 1.4rem;
            max-width: 29.4rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .ukrainian-president-goes-on-diplomatic-offensive-in-washington-dc-to-try-and-win-over-sceptical-right-wing-republicans-2u2 {
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 29.9rem;
            font-size: 1.5rem;
          }
        }
      }
    }
    .auto-group-gvhc-7fa {
      left: 4rem;
      top: 50.7rem;
      display: flex;
      align-items: center;
      width: 125.4rem;
      height: 21.4rem;
      position: absolute;

      .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-Shr {
        font-family: Cairo, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 55.2rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.8725;
        color: #000000;

        .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-Shr-sub-0 {
        }
        .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-Shr-sub-1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
        }
        .russia-ukraine-war-list-of-key-events-day-658-as-the-war-enters-658th-daythese-are-the-main-developments-13-dec-2023-Shr-sub-2 {
          font-weight: 500;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          font-size: 1.4rem;
        }
      }
      .auto-group-uqsn-GD2 {
        box-sizing: border-box;
        padding: 1.4rem 0rem 1.4rem 15.9rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .image-62-z92 {
          flex-shrink: 0;
          margin-right: 1.9rem;
          width: 25.6rem;
          height: 16.4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-ckdy-Wt4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .russia-ukraine-war-list-of-key-events-day-658-gGk {
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.2rem;
            max-width: 26.8rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.8725;
          }
          .as-the-war-enters-its-658th-day-these-are-the-main-developments-BzC {
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 26.4rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
    .auto-group-1eqe-hBr {
      left: 2.2rem;
      top: 80.8rem;
      display: flex;
      align-items: center;
      width: 131.7rem;
      height: 63.2rem;
      position: absolute;

      .auto-group-jden-cpc {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 88.6rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-qt5c-ZUx {
          width: 100%;
          height: 28.9rem;
          position: relative;
          flex-shrink: 0;

          .australia-is-preparing-to-burn-more-fossil-fuels-WQC {
            height: 11.3rem;
            position: absolute;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.8725;
            font-family: Cairo, 'Source Sans Pro';
            width: 55.2rem;
            left: 0.9rem;
            top: 0;
            color: #000000;
          }
          .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-CH2 {
            font-family: Cairo, 'Source Sans Pro';
            width: 51.9rem;
            position: absolute;
            left: 0.9rem;
            color: #000000;
            line-height: 1.8725;
            height: 17.7rem;
            top: 11.2rem;
            font-size: 2.4rem;
            font-weight: 400;

            .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-CH2-sub-0 {
            }
            .australias-government-struggles-with-climate-contradictions-as-it-commits-to-damaging-fossil-fuel-projects-13-dec-2023-CH2-sub-1 {
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.8725;
            }
          }
          .image-64-HSt {
            width: 23.4rem;
            height: 16.1rem;
            position: absolute;
            left: 61.1rem;
            top: 4.6rem;
            object-fit: cover;
            vertical-align: top;
          }
          .line-16-oRE {
            position: absolute;
            left: 0;
            top: 27.9rem;
            background-color: #bcacac;
            width: 88.6rem;
            height: 0.1rem;
          }
        }
        .auto-group-8hxa-K8g {
          box-sizing: border-box;
          padding-top: 2.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .image-66-rPW {
            flex-shrink: 0;
            width: 16.8rem;
            height: 2.9rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-uoca-bM6 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 2.4rem 0rem 0.8rem;
            width: calc(100% - 3.2rem);
            height: 28.8rem;

            .auto-group-djrv-ucg {
              margin-right: 7.6rem;
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .un-votes-for-gaza-ceasefire-biden-says-israel-losing-support-for-war-rH2 {
                color: #000000;
                font-family: Cairo, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                max-width: 51.8rem;
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.8725;
              }
              .un-general-assembly-passes-non-binding-motion-demanding-end-to-israeli-war-on-gaza-as-humanitarian-crisis-worsens-13-dec-2023-91E {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.8725;
                color: #000000;
                font-family: Cairo, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 53.5rem;

                .un-general-assembly-passes-non-binding-motion-demanding-end-to-israeli-war-on-gaza-as-humanitarian-crisis-worsens-13-dec-2023-91E-sub-0 {
                }
                .un-general-assembly-passes-non-binding-motion-demanding-end-to-israeli-war-on-gaza-as-humanitarian-crisis-worsens-13-dec-2023-91E-sub-1 {
                  font-size: 1.9rem;
                  font-weight: 400;
                  line-height: 1.8725;
                  color: #000000;
                  font-family: Cairo, 'Source Sans Pro';
                }
              }
            }
            .image-65-ecC {
              margin-bottom: 4.4rem;
              width: 24.3rem;
              height: 18rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-bdjl-nCc {
        height: calc(100% - 16.1rem);
        flex-shrink: 0;
        margin: 9.3rem 0rem 6.8rem 0rem;
        width: 40.3rem;

        .auto-group-ss7t-uHE {
          background-color: #f8eded;
          margin-bottom: 1.2rem;
          box-sizing: border-box;
          padding: 2.3rem 1.8rem 5.6rem 2.6rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-ssgj-bvk {
            margin: 0rem 0rem 3.5rem 2.6rem;
            width: 33.3rem;
            height: 9.5rem;
            position: relative;
            flex-shrink: 0;

            .sign-up-for-al-jazeera-8fn {
              font-size: 2rem;
              font-weight: 400;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              width: 19.6rem;
              left: 6rem;
              top: 0;
              line-height: 1.8725;
              white-space: nowrap;
              height: 3.8rem;
              position: absolute;
            }
            .week-in-the-middle-east-Eyi {
              width: 33.3rem;
              left: 0;
              font-size: 3.2rem;
              font-weight: 700;
              line-height: 1.8725;
              color: #000000;
              height: 6rem;
              position: absolute;
              top: 3.5rem;
              font-family: Cairo, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .catch-up-on-our-coverage-of-the-region-all-in-one-place-wdE {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 4.6rem 1.6rem 0rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
          }
          .auto-group-hcja-qic {
            height: 4.6rem;
            color: #beb6b6;
            font-family: Cairo, 'Source Sans Pro';
            flex-shrink: 0;
            width: 34rem;
            font-size: 2rem;
            font-weight: 400;
            border-radius: 0.4rem;
            margin: 0rem 1.9rem 2.2rem 0rem;
            white-space: nowrap;
            background-color: #f5f5f5;
            padding: 0.2rem 2rem;
            line-height: 1.8725;
            border: solid 0.1rem #d9d9d9;
            box-sizing: border-box;
          }
          .auto-group-ejzq-fxY {
            position: relative;
            flex-shrink: 0;
            margin: 0rem 12.1rem 4.5rem 10.3rem;
            width: calc(100% - 22.4rem);
            height: 4.4rem;

            .rectangle-6-apc {
              background-color: #000000;
              width: 13.5rem;
              height: 4.2rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .sign-up-L36 {
              width: 8.2rem;
              height: 4.4rem;
              font-size: 2.3rem;
              line-height: 1.8725;
              font-family: Cairo, 'Source Sans Pro';
              position: absolute;
              left: 3.1rem;
              top: 0;
              font-weight: 400;
              color: #fffdfd;
              white-space: nowrap;
            }
          }
          .auto-group-ygdk-dnt {
            margin-right: 9.7rem;
            width: calc(100% - 9.7rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .by-signing-up-you-agree-to-our-aTE {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.8725;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
            }
            .privacy-policy-Vq6 {
              font-weight: 700;
              line-height: 1.8725;
              color: #000000;
              font-family: Cairo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.3rem;
            }
          }
        }
        .protected-by-recaptcha-Dm6 {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.8725;
        }
      }
    }
    .auto-group-j1sn-M6c {
      left: 3rem;
      top: 147.5rem;
      width: 85.4rem;
      height: 25.1rem;
      position: absolute;

      .un-general-assembly-votes-overwhelmingly-in-favour-of-gaza-ceasefire-sqe {
        width: 57.4rem;
        height: 11.3rem;
        position: absolute;
        top: 0;
        font-weight: 700;
        color: #000000;
        left: 0;
        font-size: 3rem;
        line-height: 1.8725;
        font-family: Cairo, 'Source Sans Pro';
      }
      .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-ZyN {
        width: 61.2rem;
        left: 0;
        font-size: 2.4rem;
        line-height: 1.8725;
        color: #000000;
        height: 12.8rem;
        position: absolute;
        top: 12.3rem;
        font-weight: 400;
        font-family: Cairo, 'Source Sans Pro';

        .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-ZyN-sub-0 {
        }
        .the-us-and-israel-were-among-the-few-votes-against-the-non-binding-resolution-calling-for-an-end-to-the-fighting-12-dec-2023-ZyN-sub-1 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
        }
      }
      .image-67-Ey2 {
        width: 24.3rem;
        height: 17.5rem;
        position: absolute;
        left: 61.1rem;
        top: 3.5rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-dquw-NJY {
      width: 86.2rem;
      height: 28.8rem;
      position: absolute;
      left: 2.2rem;
      top: 176rem;
      display: flex;
      align-items: center;

      .auto-group-rt8n-u3a {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 1.3rem;
        height: 100%;

        .uks-sunak-wins-parliament-vote-on-deporting-asylum-seekers-to-rwanda-rDi {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 0.2rem 0.8rem;
          max-width: 59.8rem;
        }
        .sunak-faces-down-conservative-party-rebels-by-winning-a-knife-edge-vote-on-his-latest-plans-to-send-refugees-and-migrants-to-rwanda-12-dec-2023-jYQ {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 57.8rem;

          .sunak-faces-down-conservative-party-rebels-by-winning-a-knife-edge-vote-on-his-latest-plans-to-send-refugees-and-migrants-to-rwanda-12-dec-2023-jYQ-sub-0 {
          }
          .sunak-faces-down-conservative-party-rebels-by-winning-a-knife-edge-vote-on-his-latest-plans-to-send-refugees-and-migrants-to-rwanda-12-dec-2023-jYQ-sub-1 {
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
          }
        }
      }
      .image-68-PWU {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.4rem;
        width: 24.3rem;
        height: 18rem;
        object-fit: cover;
      }
    }
    .auto-group-daxq-KQ8 {
      top: 208.5rem;
      display: flex;
      align-items: center;
      width: 84.9rem;
      height: 25.5rem;
      position: absolute;
      left: 2.2rem;

      .auto-group-lfne-FYg {
        margin-right: 3.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .biden-warns-israel-risks-losing-support-over-indiscriminate-gaza-bombing-c8L {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          max-width: 57.1rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
        }
        .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-trY {
          max-width: 57rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;

          .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-trY-sub-0 {
          }
          .us-president-offers-his-sharpest-public-criticism-of-israel-since-the-start-of-its-war-with-hamas-12-dec-2023-trY-sub-1 {
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
          }
        }
      }
      .image-69-Rjz {
        width: 24.3rem;
        height: 18.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
    }
    .auto-group-5mwu-Mde {
      width: 85.1rem;
      height: 20.3rem;
      position: absolute;
      left: 2.9rem;
      top: 238.8rem;
      display: flex;
      align-items: center;

      .auto-group-jq5x-UyA {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.3rem;

        .harvard-president-claudine-gay-keeps-job-dbA {
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 3rem;
          font-weight: 700;
        }
        .harvards-president-claudine-gay-has-received-unanimous-support-from-the-university-board-to-remain-in-her-role-12-dec-2023-x7e {
          line-height: 1.8725;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.1rem;
          max-width: 58.4rem;
          font-size: 2.4rem;
          font-weight: 400;

          .harvards-president-claudine-gay-has-received-unanimous-support-from-the-university-board-to-remain-in-her-role-12-dec-2023-x7e-sub-0 {
          }
          .harvards-president-claudine-gay-has-received-unanimous-support-from-the-university-board-to-remain-in-her-role-12-dec-2023-x7e-sub-1 {
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
          }
        }
      }
      .image-70-55n {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.9rem;
        width: 24.3rem;
        height: 17.6rem;
      }
    }
    .auto-group-78kx-CgC {
      width: 84.2rem;
      height: 29.5rem;
      position: absolute;
      left: 2.9rem;
      top: 266rem;
      display: flex;
      align-items: center;

      .auto-group-j1ee-L1i {
        flex-shrink: 0;
        margin-right: 2.6rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .clear-threat-kashmiris-on-india-top-court-upholding-removal-of-autonomy-g5a {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          max-width: 54.4rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.8725;
        }
        .for-the-residents-fears-of-demographic-change-triggered-by-modi-governments-2019-move-are-slowly-becoming-a-reality-12-dec-2023-m72 {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.2rem;
          max-width: 57.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.8725;

          .for-the-residents-fears-of-demographic-change-triggered-by-modi-governments-2019-move-are-slowly-becoming-a-reality-12-dec-2023-m72-sub-0 {
          }
          .for-the-residents-fears-of-demographic-change-triggered-by-modi-governments-2019-move-are-slowly-becoming-a-reality-12-dec-2023-m72-sub-1 {
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
          }
        }
      }
      .image-71-FRW {
        margin-bottom: 4.9rem;
        width: 24.3rem;
        height: 16.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-jk9y-Ba4 {
      top: 297.3rem;
      display: flex;
      align-items: center;
      width: 85.7rem;
      height: 28.5rem;
      position: absolute;
      left: 3.1rem;

      .auto-group-g12n-Jua {
        margin-right: 2.4rem;
        width: 57.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .us-announces-hundreds-of-new-sanctions-in-push-to-isolate-russia-3sA {
          width: 57.1rem;
          height: 11.3rem;
          left: 0;
          font-size: 3rem;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
          position: absolute;
          top: 0;
          font-weight: 700;
          color: #000000;
        }
        .new-sanctions-target-entities-and-individuals-around-the-world-in-bid-to-isolate-russia-as-its-war-on-ukraine-continues-12-dec-2023-whe {
          line-height: 1.8725;
          left: 0;
          font-weight: 400;
          position: absolute;
          top: 11.2rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          width: 57.3rem;
          height: 17.3rem;

          .new-sanctions-target-entities-and-individuals-around-the-world-in-bid-to-isolate-russia-as-its-war-on-ukraine-continues-12-dec-2023-whe-sub-0 {
          }
          .new-sanctions-target-entities-and-individuals-around-the-world-in-bid-to-isolate-russia-as-its-war-on-ukraine-continues-12-dec-2023-whe-sub-1 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
      .image-72-3PJ {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 26rem;
        height: 18.8rem;
        object-fit: cover;
      }
    }
    .auto-group-wvqe-aPE {
      align-items: center;
      width: 86.5rem;
      height: 28.1rem;
      position: absolute;
      left: 2.2rem;
      top: 328rem;
      display: flex;

      .auto-group-kdee-uwJ {
        margin-right: 1.3rem;
        width: 59.8rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .cop28-climate-talks-go-into-overtime-amid-standoff-over-fossil-fuels-2m2 {
          font-size: 3rem;
          line-height: 1.8725;
          color: #000000;
          height: 11.3rem;
          left: 0;
          top: 0;
          font-family: Cairo, 'Source Sans Pro';
          width: 55rem;
          position: absolute;
          font-weight: 700;
        }
        .a-flurry-of-shuttle-diplomacy-is-under-way-at-the-un-led-negotiations-in-the-uae-as-countries-fight-over-the-wording-of-a-potential-deal-12-dec-2023-Ww6 {
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          width: 59.8rem;
          position: absolute;
          top: 10.8rem;
          line-height: 1.8725;
          height: 17.3rem;
          left: 0;
          font-size: 2.4rem;
          font-weight: 400;

          .a-flurry-of-shuttle-diplomacy-is-under-way-at-the-un-led-negotiations-in-the-uae-as-countries-fight-over-the-wording-of-a-potential-deal-12-dec-2023-Ww6-sub-0 {
          }
          .a-flurry-of-shuttle-diplomacy-is-under-way-at-the-un-led-negotiations-in-the-uae-as-countries-fight-over-the-wording-of-a-potential-deal-12-dec-2023-Ww6-sub-1 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
            font-family: Cairo, 'Source Sans Pro';
          }
        }
      }
      .image-73-Znt {
        margin-bottom: 0.9rem;
        width: 25.4rem;
        height: 19rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-vld4-6H2 {
      width: 84.5rem;
      height: 28.3rem;
      position: absolute;
      left: 4rem;
      top: 359.3rem;
      display: flex;
      align-items: center;

      .auto-group-vdhx-cmA {
        margin-right: 5.9rem;
        width: 51.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ukraines-zelenskyy-arrives-in-the-us-whats-on-the-agenda-xa8 {
          height: 11.3rem;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.8725;
          font-family: Cairo, 'Source Sans Pro';
          width: 48.6rem;
          font-weight: 700;
          color: #000000;
          font-size: 3rem;
        }
        .the-ukrainian-president-is-trying-to-help-break-a-us-domestic-political-deadlock-that-would-deprive-his-country-of-war-funding-12-dec-2023-ehr {
          height: 17.3rem;
          position: absolute;
          top: 11rem;
          font-weight: 400;
          line-height: 1.8725;
          width: 51.4rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Cairo, 'Source Sans Pro';
          left: 0;

          .the-ukrainian-president-is-trying-to-help-break-a-us-domestic-political-deadlock-that-would-deprive-his-country-of-war-funding-12-dec-2023-ehr-sub-0 {
          }
          .the-ukrainian-president-is-trying-to-help-break-a-us-domestic-political-deadlock-that-would-deprive-his-country-of-war-funding-12-dec-2023-ehr-sub-1 {
            font-family: Cairo, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8725;
            color: #000000;
          }
        }
      }
      .image-74-Jvp {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 27.2rem;
        height: 20.7rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .line-17-SGL {
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 144.5932rem;
      background-color: #bcacac;
      width: 88.6rem;
    }
    .line-18-y1N {
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 174.2rem;
      background-color: #bcacac;
    }
    .line-19-J3e {
      top: 204.8149rem;
      background-color: #bcacac;
      width: 88.6001rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
    }
    .line-20-png {
      top: 236.8rem;
      background-color: #bcacac;
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
    }
    .line-21-MGp {
      background-color: #bcacac;
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 263.4rem;
    }
    .line-22-HRN {
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 296.2rem;
      background-color: #bcacac;
      width: 88.6rem;
    }
    .line-23-cyS {
      width: 88.5999rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 327.5932rem;
      background-color: #bcacac;
    }
    .line-24-MRE {
      background-color: #bcacac;
      width: 88.6rem;
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 357.4rem;
    }
    .line-25-tRA {
      height: 0.1rem;
      position: absolute;
      left: 2.2rem;
      top: 390.2rem;
      background-color: #bcacac;
      width: 89.7rem;
    }
    .auto-group-jxke-pZi {
      font-family: Cairo, 'Source Sans Pro';
      line-height: 1.8725;
      color: #fffdfd;
      left: 30.2rem;
      width: 33.9rem;
      height: 7.7rem;
      position: absolute;
      white-space: nowrap;
      background-color: #000000;
      box-sizing: border-box;
      padding: 0.2rem 9.5rem 0.2rem 9rem;
      font-weight: 400;
      top: 395.8rem;
      font-size: 3.2rem;
    }
    .image-59-snt {
      vertical-align: top;
      width: 142.1rem;
      height: 64.2rem;
      position: absolute;
      left: 0;
      top: 423.5rem;
      object-fit: cover;
    }
  }
}
