
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-TDe {
  box-sizing: border-box;
  padding-top: 2.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-TDe .auto-group-cmne-f4p {
  margin: 0rem 0rem 0.7rem 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .image-1-Vi4 {
  margin: 0rem 2.1rem 1.4rem 0rem;
  width: 11.1rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .aljazeera-aDi {
  margin: 0rem 4.8rem 2.2rem 0rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #efbf14;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .home-cw6 {
  margin: 0rem 2.85rem 2.5rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .news-7cx {
  margin: 0rem 0.35rem 2.5rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .vector-pnG {
  margin: 0rem 2.049rem 2rem 0rem;
  width: 1.2009rem;
  height: 0.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .israel-gaza-war-9Jk {
  margin: 0rem 1.5rem 2.5rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .features-dDv {
  margin: 0rem 1.45rem 2.5rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .economy-9CG {
  margin: 0rem 2.6rem 2.5rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .opinion-2mr {
  margin: 0rem 1.75rem 2.5rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .video-MJL {
  margin: 0rem 2.75rem 2.5rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .more-fZv {
  margin: 0rem 0.3rem 2.5rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #150c0c;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .vector-mcx {
  margin: 0rem 4.198rem 2.1rem 0rem;
  width: 0.9022rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .vector-uDN {
  margin: 0rem 0.8rem 2rem 0rem;
  width: 2.1rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .live-pr8 {
  margin: 0rem 31.5rem 1.9rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-cmne-f4p .vector-LpU {
  margin-top: 9.6rem;
  width: 2rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-6d6n-frk {
  box-sizing: border-box;
  padding: 2.3rem 11.1rem 3.1rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e93a3a;
  flex-shrink: 0;
}
.home-TDe .auto-group-6d6n-frk .breaking-AoW {
  margin: 0.2rem 1.6rem 0rem 0rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #f6eeee;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-6d6n-frk .line-1-gG4 {
  margin: 0rem 1.15rem 6.9rem 0rem;
  width: 0.1rem;
  height: 0.1rem;
  background-color: #faeded;
  flex-shrink: 0;
}
.home-TDe .auto-group-6d6n-frk .who-chief-raises-concerns-after-israel-forces-raid-northen-gaza-hospital-npt {
  margin: 0.6rem 3.75rem 0rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #f6eeee;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-6d6n-frk .vector-uHE {
  margin: 0.368rem 4.6rem 0rem 0rem;
  width: 2.7rem;
  height: 3.0754rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-6d6n-frk .vector-2Mr {
  margin-top: 0.2686rem;
  width: 2rem;
  height: 2.381rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ {
  width: 100%;
  height: 535.9rem;
  position: relative;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-5jku-FEc {
  width: 118.9rem;
  height: 76.7rem;
  position: absolute;
  left: 3.4rem;
  top: 135.5rem;
  display: flex;
  align-items: flex-start;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-5jku-FEc .image-46-AMa {
  margin-right: 6.4rem;
  width: 77.6rem;
  height: 76.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-5jku-FEc .image-60-G9i {
  width: 34.9rem;
  height: 72rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-60-bg.png');
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 {
  width: 65.3rem;
  height: 21.4rem;
  position: absolute;
  left: 53rem;
  top: 84.4rem;
  display: flex;
  align-items: flex-start;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-4pst-VoA {
  margin: 0.2rem 3.6rem 0rem 0rem;
  box-sizing: border-box;
  padding-top: 2rem;
  width: 31.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top: solid 0.1rem #958585;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-4pst-VoA .uks-sunak-wins-parliament-vote-on-deporting-asylum-seekers-to-rwanda-yiL {
  margin: 0rem 0.1rem 2.4rem 0rem;
  max-width: 30.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-4pst-VoA .line-9-Dsa {
  margin: 0rem 0.4rem 1.9rem 0rem;
  width: 30.7rem;
  height: 0.1rem;
  background-color: #958585;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-4pst-VoA .like-we-were-lesser-humans-gaza-boys-men-recall-israeli-arrest-torture-Kvc {
  margin-right: 0.1rem;
  max-width: 30.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-373c-xya {
  width: 30.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-373c-xya .image-10-WEQ {
  margin: 0rem 0rem 1.1rem 0.5rem;
  width: 30.1rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-373c-xya .line-14-1BA {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #958585;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-cbwv-n84 .auto-group-373c-xya .whats-un-resolution-377a-can-it-help-in-efforts-to-stop-israel-gaza-war-XfJ {
  margin-right: 1.4rem;
  max-width: 26.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-dbnw-D2L {
  width: 63rem;
  height: 5.7rem;
  position: absolute;
  left: 53.4rem;
  top: 75rem;
  display: flex;
  align-items: center;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-dbnw-D2L .clear-threat-kashmiris-on-india-top-court-upholding-removal-of-autonomy-6rp {
  margin-right: 9.3rem;
  max-width: 27.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-dbnw-D2L .elephant-in-the-room-the-us-militarys-devastating-carbon-footprint-Pb2 {
  max-width: 26.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 {
  width: 114.1rem;
  height: 67.9rem;
  position: absolute;
  left: 4.5rem;
  top: 3.2rem;
  display: flex;
  align-items: center;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi {
  margin: 1.3rem 1.7rem 1.1rem 0rem;
  width: 81.7rem;
  height: calc(100% - 2.4rem);
  position: relative;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .australia-is-preparing-to-burn-more-fossil-fuels-6dr {
  width: 15.9rem;
  height: 5.7rem;
  position: absolute;
  left: 50.6rem;
  top: 56.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .line-3-ySk {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 47.9rem;
  top: 53.4rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .image-5-6nG {
  width: 13rem;
  height: 8.4rem;
  position: absolute;
  left: 68.7rem;
  top: 56.2rem;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .cop28-climate-talks-go-into-overtime-amid-standoff-over-fossil-fuels-piG {
  width: 15.3rem;
  height: 11.3rem;
  position: absolute;
  left: 50.9rem;
  top: 39.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .image-4-JNY {
  width: 12.8rem;
  height: 8.9rem;
  position: absolute;
  left: 67.7rem;
  top: 40.7rem;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .line-2-2ZS {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 50.6rem;
  top: 37rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .un-general-assembly-votes-overwhelmingly-in-favour-of-gaza-ceasefire-MLp {
  width: 24.6rem;
  height: 11.3rem;
  position: absolute;
  left: 50.9rem;
  top: 22.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .image-3-E9i {
  width: 24.5392rem;
  height: 20.8335rem;
  position: absolute;
  left: 50.9rem;
  top: 0.5423rem;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .image-6-9Xa {
  width: 48.9rem;
  height: 34.6rem;
  position: absolute;
  left: 0;
  top: 30.9rem;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-muhk-zqi .image-2-Hdn {
  width: 43.9rem;
  height: 27.3rem;
  position: absolute;
  left: 2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v {
  width: 30.7rem;
  height: 100%;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .image-7-uv4 {
  margin: 0rem 0rem 2.1rem 1.9rem;
  width: 26.8rem;
  height: 30.4rem;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .long-read-cJg {
  margin: 0rem 0rem 1rem 1.9rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #cdb5b5;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .auto-group-bxve-Hvc {
  margin: 0rem 0.3rem 1.6rem 1.9rem;
  width: calc(100% - 2.2rem);
  display: flex;
  align-items: center;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .auto-group-bxve-Hvc .how-a-childs-death-caused-an-ohio-city-to-turn-on-its-haitian-community-oe4 {
  margin-right: 0.4rem;
  max-width: 16.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .auto-group-bxve-Hvc .image-8-Nj6 {
  margin-bottom: 1.4rem;
  width: 11.5rem;
  height: 8.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .line-10-HLG {
  margin: 0rem 0rem 1.2rem 0.1rem;
  width: 30.6rem;
  height: 0.1rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .rice-beans-and-best-friends-a-nigerian-embrace-for-cameroonian-refugees-aqA {
  margin: 0rem 0rem 3.1rem 1.9rem;
  max-width: 26rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .line-11-r1z {
  margin-bottom: 2.7rem;
  width: 30.6rem;
  height: 0.1rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-o2ye-gq2 .auto-group-4s86-p7v .batang-kali-a-british-massacre-in-a-colonial-malaya-and-a-fight-for-justice-NW8 {
  margin-left: 1.9rem;
  max-width: 28.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
}
.home-TDe .auto-group-jslv-XpQ .line-4-FK2 {
  width: 30.7rem;
  height: 0.1rem;
  position: absolute;
  left: 53.4rem;
  top: 72.8rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .line-7-Zac {
  width: 0.9224rem;
  height: 0.1rem;
  position: absolute;
  left: 87.4rem;
  top: 2.5rem;
  background-color: #e7dcdc;
}
.home-TDe .auto-group-jslv-XpQ .line-12-gQL {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 87.7rem;
  top: 73.5rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .line-13-oUx {
  width: 30.6rem;
  height: 0.1rem;
  position: absolute;
  left: 87.7rem;
  top: 83.3rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .line-15-81S {
  width: 132.4rem;
  height: 0.1rem;
  position: absolute;
  left: 2.6rem;
  top: 109rem;
  background-color: #958585;
}
.home-TDe .auto-group-jslv-XpQ .image-47-T3i {
  width: 131rem;
  height: 16.5rem;
  position: absolute;
  left: 2.6rem;
  top: 112.1rem;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z {
  width: 116.8rem;
  height: 55.1rem;
  position: absolute;
  left: 3.4rem;
  top: 214.5rem;
  display: flex;
  align-items: flex-start;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-6wna-W1z {
  margin: 2.7rem 3.7rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-6wna-W1z .image-48-ETn {
  margin: 0rem 0.2rem 4.8rem 0rem;
  width: 66.6rem;
  height: 29.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-6wna-W1z .image-49-kwv {
  width: 72.8rem;
  height: 18.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW {
  width: 40.3rem;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 2rem 3.7rem 5.6rem 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8eded;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-gxwu-wWc {
  margin: 0rem 0.3rem 4.4rem 0.4rem;
  width: calc(100% - 0.7rem);
  height: 8.9rem;
  position: relative;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-gxwu-wWc .sign-up-for-al-jazeera-eR2 {
  width: 19.6rem;
  height: 3.8rem;
  position: absolute;
  left: 6rem;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-gxwu-wWc .week-in-the-middle-east-KXA {
  width: 33.3rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .catch-up-on-our-coverage-of-the-region-all-in-one-place-DMe {
  margin: 0rem 2.7rem 1.6rem 0rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-gqxa-gFE {
  margin-bottom: 2.2rem;
  box-sizing: border-box;
  padding: 0.2rem 2rem;
  width: 100%;
  height: 4.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.8725;
  color: #beb6b6;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d9d9d9;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-3yhg-tMJ {
  margin: 0rem 10.2rem 4.5rem 10.3rem;
  width: calc(100% - 20.5rem);
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-3yhg-tMJ .rectangle-6-ytY {
  width: 13.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-3yhg-tMJ .sign-up-Wda {
  width: 8.2rem;
  height: 4.4rem;
  position: absolute;
  left: 3.1rem;
  top: 0;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.8725;
  color: #fffdfd;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-mvtp-14Y {
  margin-right: 7.8rem;
  width: calc(100% - 7.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-mvtp-14Y .by-signing-up-you-agree-to-our-8ur {
  margin-right: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .auto-group-6fua-F7z .auto-group-mvtp-14Y .privacy-policy-etC {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-pyui-n5z .auto-group-5dxu-VuW .protected-by-recaptcha-y9n {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
}
.home-TDe .auto-group-jslv-XpQ .image-50-JC4 {
  width: 18.7rem;
  height: 5.1rem;
  position: absolute;
  left: 3.4rem;
  top: 274.4rem;
  object-fit: cover;
  vertical-align: top;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i {
  width: 91.9rem;
  height: 63.5rem;
  position: absolute;
  left: 3.4rem;
  top: 284.5rem;
  display: flex;
  align-items: flex-start;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-k7yy-YcC {
  margin-right: 2.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-k7yy-YcC .image-51-hEC {
  margin-bottom: 2.7rem;
  width: 40.2rem;
  height: 25.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-k7yy-YcC .european-powers-allow-shadowy-libyan-group-to-return-refugees-zyz {
  margin-bottom: 0.9rem;
  max-width: 42.8rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-k7yy-YcC .using-coordinates-released-by-european-authorities-a-libyan-armed-group-linked-to-wagner-and-accused-of-grave-abuses-illegally-pulls-back-refugees-UuA {
  margin-left: 0.2rem;
  max-width: 43.8rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #7a7676;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-jrze-7x8 {
  margin: 0.2rem 0.7rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-jrze-7x8 .image-52-A9i {
  margin-bottom: 4.8rem;
  width: 18.8rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-jrze-7x8 .image-53-gtk {
  margin-bottom: 5.8rem;
  width: 20.6rem;
  height: 12.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-jrze-7x8 .image-54-PoA {
  margin-bottom: 3.5rem;
  width: 20.6rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-jrze-7x8 .image-55-XuN {
  width: 20.6rem;
  height: 11.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-rxnn-G6G {
  margin: 1.9rem 0rem 2.1rem 0rem;
  height: calc(100% - 4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-rxnn-G6G .palestinian-families-kept-apart-by-israeli-rules-mourn-loved-ones-in-gaza-yFa {
  margin: 0rem 1.3rem 8rem 0rem;
  max-width: 23.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-rxnn-G6G .did-israels-overreliance-on-tech-cause-october-7-intelligence-failure-ecc {
  margin: 0rem 0rem 7.4rem 0.1rem;
  max-width: 22rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-rxnn-G6G .auto-group-6rpe-i6g {
  margin: 0rem 0rem 5.2rem 1.2rem;
  width: 23.3rem;
  height: 11.9rem;
  position: relative;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-rxnn-G6G .auto-group-6rpe-i6g .whats-your-money-worth-djS {
  width: 21.9rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #7a7676;
  font-family: Cairo, 'Source Sans Pro';
  white-space: nowrap;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-rxnn-G6G .auto-group-6rpe-i6g .hakku-and-the-sea-a-pakistani-fisherwoman-steps-up-to-support-her-familly-jnU {
  width: 23.3rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
}
.home-TDe .auto-group-jslv-XpQ .auto-group-mhev-E5i .auto-group-rxnn-G6G .too-terrified-to-leave-the-house-internet-trolls-in-libya-target-women-1jz {
  margin-left: 0.6rem;
  max-width: 22.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-e9bu-JUC {
  width: 95.5rem;
  height: 28.4rem;
  position: absolute;
  left: 3.4rem;
  top: 357.4rem;
  display: flex;
  align-items: flex-start;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-e9bu-JUC .auto-group-63xk-1Nc {
  margin-right: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-e9bu-JUC .auto-group-63xk-1Nc .clear-threat-kashmiris-on-india-top-court-upholding-removal-of-autonomy-9zc {
  margin-bottom: 2.3rem;
  max-width: 58.7rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-e9bu-JUC .auto-group-63xk-1Nc .for-the-residents-fears-of-demographic-change-triggered-by-modi-governments-2019-move-are-slowly-becoming-a-reality-rPE {
  margin-left: 0.4rem;
  max-width: 51.2rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #7a7676;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-e9bu-JUC .image-56-XEU {
  margin-top: 0.9rem;
  width: 33.8rem;
  height: 22.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-4kh4-eZz {
  width: 95.5rem;
  height: 26.3rem;
  position: absolute;
  left: 3.4rem;
  top: 390.5rem;
  display: flex;
  align-items: flex-start;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-4kh4-eZz .auto-group-54bx-nAQ {
  margin-right: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-4kh4-eZz .auto-group-54bx-nAQ .like-we-were-lesser-humans-gaza-boys-men-recall-israeli-arrest-torture-j5e {
  margin-bottom: 0.2rem;
  max-width: 57.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-4kh4-eZz .auto-group-54bx-nAQ .rounded-up-by-israeli-forces-in-gaza-city-palestinians-describe-being-stripped-blindfolded-numbered-and-tortured-while-detained-DmW {
  margin-left: 0.2rem;
  max-width: 58.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #7a7676;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-4kh4-eZz .image-57-JHA {
  margin-top: 1.3rem;
  width: 33.8rem;
  height: 20.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-hmwk-Rsa {
  width: 95.1rem;
  height: 24.9rem;
  position: absolute;
  left: 3.8rem;
  top: 421.5rem;
  display: flex;
  align-items: flex-end;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-hmwk-Rsa .auto-group-zhkc-9oa {
  margin: 0rem 2.6rem 0.6rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-hmwk-Rsa .auto-group-zhkc-9oa .asylum-seeker-dies-on-uk-barge-housing-migrants-and-refugees-5x8 {
  margin-bottom: 2.9rem;
  max-width: 56.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #000000;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-hmwk-Rsa .auto-group-zhkc-9oa .british-interior-minister-james-cleverly-says-the-death-will-be-investigated-zpC {
  margin-left: 0.2rem;
  max-width: 58.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.8725;
  color: #7a7676;
  font-family: Cairo, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .auto-group-hmwk-Rsa .image-58-tua {
  width: 33.8rem;
  height: 23.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-TDe .auto-group-jslv-XpQ .image-59-dcG {
  width: 142.1rem;
  height: 64.2rem;
  position: absolute;
  left: 0;
  top: 474.6rem;
  object-fit: cover;
  vertical-align: top;
}
